<div class="card w-100">
  <div class="card-body">
    <form action="answer">
      <div class="form-check">
        <label id="title1"for="inputAQuestion">Ask your coach anything:</label>
        <input type="text" name="question" class="form-control" id="title2" placeholder="Ask your coach!">
      </div>
      <button type="submit" value="Ask" class="btn btn-primary btn-lg">Ask</button>
    </form>
  </div>
</div>
